body {
    margin: 0;
    background-color: black;
}

#root {
    padding: 3rem;
    text-align: center;
}

#root h1 {
    font-family: 'Orbitron', sans-serif;
    color: white;
    font-style: Semi-bold;
}

#root canvas {
    display: block;
    margin: 0 auto;
    border: 2px solid wheat;
}